	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/08/2018 13:57
  	*/



@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/font/Flaticon.eot");
  src: url("../fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/font/Flaticon.woff") format("woff"),
       url("../fonts/flaticon/font/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-002-seo-and-web:before {
	content: "\e001";
}
.flaticon-003-archive:before {
	content: "\e002";
}
.flaticon-005-books-stack-of-three:before {
	content: "\e003";
}
.flaticon-006-stack-exchange-symbol:before {
	content: "\e004";
}
.flaticon-007-woods:before {
	content: "\e005";
}
.flaticon-008-books:before {
	content: "\e006";
}
.flaticon-009-continuous:before {
	content: "\e007";
}
.flaticon-010-continuous-feed-paper:before {
	content: "\e008";
}
.flaticon-011-network:before {
	content: "\e009";
}
.flaticon-013-database:before {
	content: "\e00a";
}
.flaticon-014-database-1:before {
	content: "\e00b";
}
.flaticon-015-innovation:before {
	content: "\e00c";
}
.flaticon-akc:before { 
	content: "\f10c"; 
}
